{
    version : "2.0",
    standard : "c2012",
    title: "Zephyr Code guideline MISRA-C rules",
    deviations : [
 
    { deviation: "Directive 4.3",       reason: "This rule is currently disabled in the analysis configuration." },
    { deviation: "Rule 2.4",      reason: "This rule is currently disabled in the analysis configuration." },
    { deviation: "Rule 2.5",      reason: "This rule is currently disabled in the analysis configuration." },
    { deviation: "Rule 8.7",      reason: "This rule is currently disabled in the analysis configuration." },
    { deviation: "Rule 8.11",      reason: "This rule is currently disabled in the analysis configuration." },
    { deviation: "Rule 8.13",      reason: "This rule is currently disabled in the analysis configuration." },
    { deviation: "Rule 11.1",      reason: "This rule is currently disabled in the analysis configuration." },
    { deviation: "Rule 11.3",      reason: "This rule is currently disabled in the analysis configuration." },
    { deviation: "Rule 11.4",      reason: "This rule is currently disabled in the analysis configuration." },
    { deviation: "Rule 11.5",      reason: "This rule is currently disabled in the analysis configuration." },
    { deviation: "Rule 12.3",      reason: "This rule is currently disabled in the analysis configuration." },
    { deviation: "Rule 15.1",      reason: "This rule is currently disabled in the analysis configuration." },
    { deviation: "Rule 15.4",      reason: "This rule is currently disabled in the analysis configuration." },
    { deviation: "Rule 15.5",      reason: "This rule is currently disabled in the analysis configuration." },
    { deviation: "Rule 17.8",      reason: "This rule is currently disabled in the analysis configuration." },
    { deviation: "Rule 18.4",      reason: "This rule is currently disabled in the analysis configuration." },
    { deviation: "Rule 18.7",      reason: "This rule is currently disabled in the analysis configuration." },
    { deviation: "Rule 19.2",      reason: "This rule is currently disabled in the analysis configuration." },
    { deviation: "Rule 20.1",      reason: "This rule is currently disabled in the analysis configuration." },
    { deviation: "Rule 20.5",      reason: "This rule is currently disabled in the analysis configuration." },
    { deviation: "Rule 20.6",      reason: "This rule is currently disabled in the analysis configuration." },
    { deviation: "Rule 20.10",      reason: "This rule is currently disabled in the analysis configuration." },
    { deviation: "Rule 21.5",      reason: "This rule is currently disabled in the analysis configuration." },
    { deviation: "Rule 21.8",      reason: "This rule is currently disabled in the analysis configuration." },
    { deviation: "Rule 21.10",      reason: "This rule is currently disabled in the analysis configuration." },
    { deviation: "Rule 21.11",      reason: "This rule is currently disabled in the analysis configuration." },
    { deviation: "Rule 21.12",      reason: "This rule is currently disabled in the analysis configuration." },
    { deviation: "Rule 21.19",      reason: "This rule is currently disabled in the analysis configuration." },
    ]
}
